{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="container">
    <div class="row align-items-center full-height">
        <div class="col-7 main-font">
            <h1 class="heading-font">About</h1>
            <p>Glasgow’s intimate basement venue, La Cheetah Club, announces its own in-house record label, Outer Zone. Over the years, La Cheetah has played host to some of the most influential names in electronic/club music, whilst also providing a growth platform for Glasgow’s abundance of local talent. After 7 years of programming and shaping the space into one of the most reputable venues in Scotland, the club’s creative minds and resident DJs, Grahame Ward and Dominic D’Sylva, alongside club owner, Dario Bernardi, are proud to present their label project.</p>
        </div>
        <div class="col-7 main-font">
            <h1 class="heading-font">Artists</h1>
            <div class="row">
                <div class="col">Hello</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}