{% extends "base.html" %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid home-background-photo">
    <div class="row align-items-end justify-content-center full-height no-gutters">
        <div class="main-font mt-2 outer-zone-text">
            <i class="fas fa-chevron-circle-down chevron"></i>
            <h1 class="heading-font">Outer Zone</h1>
            <p>Glasgow’s intimate basement venue, La Cheetah Club, announces its own in-house record label, Outer Zone. Over the years, La Cheetah has played host to some of the most influential names in electronic/club music, whilst also providing a growth platform for Glasgow’s abundance of local talent.</p>
            
        </div>
        <div class="main-font mt-2 artists-text">
            <i class="fas fa-chevron-circle-down chevron"></i>
            <h2 class="heading-font">artists</h2>
            <p>Find out more about our <a class="color-anchor" href="{% url 'artists' %}">artists</a> and <a class="color-anchor" href="{% url 'products' %}">buy their records</a>.</p>
        </div>
    </div>
</div>
<div class="container-fluid wardy-dom-photo">
    <div class="row align-items-end justify-content-center full-height no-gutters">
        
        <div class="main-font mt-5 wardy-dom-text">
            <i class="fas fa-chevron-circle-up chevron"></i>
            <h2>wardy and dom</h2>
            <p>All brought to you by Wardy and Dom. After 7 years of programming and shaping the space into one of the most reputable venues in Scotland, the club’s creative minds and resident DJs, Grahame Ward and Dominic D’Sylva, alongside club owner, Dario Bernardi, are proud to present their label project.</p>
        </div>
    </div>
</div>
{% endblock %}