/* Home */

.home-background-photo {
    background-image: url('https://djmag.com/sites/default/files/storyimages/475/SJH_6058_copy.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
    padding: 0;
    position: relative;
}

.outer-zone-text {
    position: absolute;
    left: 0;
    top: 0;
}

.ward-dom-text {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem;
}

.wardy-dom-photo {
    background-image: url('https://scontent-lhr8-1.xx.fbcdn.net/v/t1.0-9/107533802_2892494737525830_9051832860834538298_o.jpg?_nc_cat=107&ccb=2&_nc_sid=8024bb&_nc_ohc=tbokJu6CB7gAX84kpCd&_nc_ht=scontent-lhr8-1.xx&oh=f842ca4eaf5c145dbb0e80ea7ecc777f&oe=5FDCF30E');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 0;
    padding-top: 145px;
}


/* https://images.theskinny.co.uk/assets/production/41615/41615_widescreen.jpg */