{% extends "base.html" %} 
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 main-font mt-4">
            <h2>Add Artist</h2>
            <form method="POST" action="{% url 'add_artist' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-row justify-content-end">
                    <div class="col-auto">
                        <a class="btn secondary-btn" href="{% url 'products' %}">Cancel</a>
                        <button class="btn" type="submit">Add Artist</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}