{% extends "base.html" %} 
{% load static %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'artists/css/artists.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row allauth-inner-content">
        <div class="col-12 col-md-8 main-font mt-4">
            <h1 class="heading-font">{{ artist.name }}</h1>
            <img class="artist-image" src="{{ MEDIA_URL }}{{ artist.image }}" alt="{{ artist.name }}">
        </div>
    </div>
</div>
{% endblock %}