{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <div class="container main-font mt-4">
        <div class="row">
            <div class="col">
                <h2>My Account</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Delivery Details</h4>
                <form>
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="form-row justify-content-end">
                        <div class="col-auto">
                            <button class="btn">Update Your Details</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Order History</h4>
                {{ orders }}
            </div>
        </div>
    </div>
{% endblock %}