{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <div class="container main-font mt-4">
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-block" scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th class="text-right" scope="col">Qty</th>
                            <th  class="text-right" scope="col">Sub</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in basket_items %}
                        <tr>
                            <td class="d-none d-sm-block"><img class="img-thumbnail basket-thumb" src="/media/{{ item.product.image }}" alt="{{ item.product.name }}"></td>
                            <td>{{ item.product.name }}</td>
                            <td>£{{ item.product.price }}</td>
                            <td class="text-right" >{{ item.quantity }}</td>
                            <td class="text-right">£{{ item.sub_total }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-12">
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    {{ order_form.full_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}
                    {{ order_form.town_or_city | as_crispy_field }}
                    {{ order_form.street_address1 | as_crispy_field }}
                    {{ order_form.street_address2 | as_crispy_field }}
                    {{ order_form.county | as_crispy_field }}

                {% if user.is_authenticated %}
                    <label for="id-save-info">Save delivery information to my profile</label>
                    <input type="checkbox" id="id-save-info" name="save-info" checked>
                {% else %}
                    <label for="id-save-info">
                        <a href="{% url 'account_signup' %}">Create an account</a>
                        <a href="{% url 'account_login' %}">Login</a>
                    </label>
                {% endif %}

                    <!--For Stripe element-->
                    <div id="card-element"></div>
                    <!--Display Errors-->
                    <div id="card-errors" role="alert"></div>

                    <a href="{% url 'view_basket' %}">Adjust Basket</a>
                    <button id="submit-button">
                        Complete Order
                    </button>
                    <p>£{{ grand_total|floatformat:2 }}</p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}