{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <div class="container main-font mt-4">
        <div class="row">
            <div class="col-12">
            {% if basket_items %}    
                <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-block" scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th class="text-right" scope="col">Qty</th>
                            <th  class="text-right" scope="col">Sub</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in basket_items %}
                        <tr>
                            <td class="d-none d-sm-block"><img class="img-thumbnail basket-thumb" src="/media/{{ item.product.image }}" alt="{{ item.product.name }}"></td>
                            <td>{{ item.product.name }}</td>
                            <td>£{{ item.product.price }}</td>
                            <td class="text-right">x {{ item.quantity }}</td>
                            <td class="text-right">= £{{ item.sub_total }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td colspan="5" class="text-right basket-total"><h5>Basket Total = £{{ total }}</h5></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>Your basket is empty</p>
            {% endif %}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="btn secondary-btn" href="{% url 'products' %}">Return to Shop</a>
                <a class="btn" href="">Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}