{% extends "base.html" %} 
{% load static %} 

{% block content %}
    <div class="container main-font mt-4">
        <div class="row">
            <div class="col-12">
            {% if basket_items %}    
                <table class="table">
                    <thead>
                        <tr>
                            <th class="d-none d-sm-block" scope="col">Image</th>
                            <th scope="col">Name</th>
                            <th scope="col">Price</th>
                            <th class="text-right" scope="col">Qty</th>
                            <th  class="text-right" scope="col">Sub</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in basket_items %}
                        <tr>
                            <td class="d-none d-sm-block">
                            {% if item.product.image %}
                                <img class="img-thumbnail basket-thumb" src="/media/{{ item.product.image }}" alt="{{ item.product.name }}">
                            {% else %}
                                <img class="img-thumbnail basket-thumb" src="{{ MEDIA_URL }}bwlogo.jpg" alt="Default Outer Zone image">
                            {% endif %}
                            </td>
                            <td>{{ item.product.name }}</td>
                            <td>£{{ item.product.price }}</td>
                            <td class="text-right">
                                <form class="change-quantity" method="POST" action="{% url 'change_basket' item.item_id %}">
                                    {% csrf_token %}
                                    <div class="form-row justify-content-end">
                                        <input class="item-quantity" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                    </div>
                                </form>
                                <a href="#" class="update" id="update_{{ item.item_id }}"><i class="fas fa-edit"></i></a>
                                <a href="#" class="delete-item" id="delete_{{ item.item_id }}"><i class="fas fa-trash"></i></a>
                            </td>
                            <td class="text-right">£{{ item.sub_total }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <td colspan="5" class="text-right basket-total"><h5>Basket Total = £{{ grand_total }}</h5></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>Your basket is empty</p>
            {% endif %}
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-auto">
                <a class="btn secondary-btn" href="{% url 'products' %}">Return to Shop</a>
                <a class="btn" href="{% url 'checkout' %}">Checkout</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

    <script type="text/javascript">
        // Change Quantity
        $('.update').click(function(e) {
            let form = $(this).prev('.change-quantity');
            form.submit();
        })
        
        // Delete item
        $('.delete-item').click(function(e) {
            let csrfToken = "{{ csrf_token }}";
            let itemId = $(this).attr('id').split('delete_')[1];
            let url = `/basket/delete/${itemId}/`;
            let data = {'csrfmiddlewaretoken': csrfToken};

            $.post(url, data)
            .done(function() {
                location.reload();
            });
        })
    </script>

{% endblock %}