/*--Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

.heading-font {
    font-family: 'Teko', sans-serif;
}

.main-font {
    font-family: 'Oswald', sans-serif;
    background: #0E0E0E;
    color: #ffffff;
    padding: 2.5rem;
}

p {
    font-size: 2.5vh;
}

h6 {
    font-size: 2.7vh;
}

h5 {
    font-size: 2.8vh;
}

h4 {
    font-size: 3vh;
}

h3 {
    font-size: 4vh;
}

h2 {
    font-size: 5vh;
}

h1 {
    font-size: 7vh;
}

/*--Background--*/

.full-height {
    height: 100vh;
}

body {
    background-image: url('https://ms4outerzone.s3-eu-west-1.amazonaws.com/media/ozbackground.png');
    repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0;
    overflow-x: hidden;
}

/*--Links--*/

i,
a {
    color: #ffffff;
}

i:hover,
a:hover {
    color: #8a8a8a;
    text-decoration: none;
}

.color-anchor {
    color: #02B4D7;
}

.btn {
    background: #ffffff;
    color: #0E0E0E;
    border-radius: 0;
}

.btn:hover {
    background: #8a8a8a;
    color: #ffffff;
}

.secondary-btn {
    background: none;
    color: #ffffff;
    border: #ffffff 1px solid;
}

/*--Nav Bar--*/

/* needed to overwrite Bootstrap styling */

.navbar-toggler-icon,
.navbar-dark,
.navbar-toggler,
.navbar-toggler:hover,
.navbar-toggler:focus {
    color: #ffffff!important;
    border-color: #ffffff!important;
    border-radius: 0;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.navbar-font-size {
    font-size: 2em;
}

.navbar-brand img {
    height: 6em;
}

.navbar {
    background: #0E0E0E;
    color: #ffffff;
}

.head-icon-links {
    font-size: 1.7em;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.head-icon-links:first-child {
    padding-left: 0;
}

.head-icon-links:last-child {
    padding-right: 0;
}

/*-- Basket --*/

.basket-row {
    background-color: #0E0E0E;
    color: #ffffff;
    padding: 1rem;
}

.basket-thumb {
    width: 6em;
}

.basket-total h5 {
    border-top: #ffffff 2px solid;
    padding-top: 2rem;
}

/*--Images--*/

.img-thumbnail {
    border-radius: 0;
}

/*--Table--*/

.table td,
.table thead th {
    border: none;
}

/*-- Alerts --*/

.alert {
    margin: 0;
    border-radius: 0;
    text-align: center;
    font-size: 4vh;
}

.alert-blue {
    background-color: #02B4D7;
}

.alert-red {
    background-color: #812141;
    color: #ffffff;
}

/*--Allauth and Forms--*/

.product-form,
.profile-form,
.allauth-inner-content input {
    border-radius: 0;
    color: #8a8a8a;
}

.allauth-inner-content h1 {
    margin-bottom: 2rem;
}

.allauth-inner-content label:not([for='id_remember']) {
    display: none;
}