/*--Fonts--*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

.heading-font {
    font-family: 'Teko', sans-serif;
}

/*--Background--*/

body {
    background-image: url('/media/ozbackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
}

/*--Links--*/

a,
.navbar-toggler-icon {
    color: #ffffff;
}

a:hover {
    color: #8a8a8a;
}

/*--Nav Bar--*/

.navbar-brand img {
    height: 10vh;
}

.navbar {
    background: #000000;
    color: #ffffff;
}