.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #8a8a8a;
  border-radius: 0px;
  background-color: #ffffff;
}

.stripe-style-input::placeholder {
    color: #8a8a8a;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #8a8a8a;
}