/* From Stripe and Boutique Ado tutorials, adapted for purpose of this site */

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid #8a8a8a;
  border-radius: 0px;
  background-color: #ffffff;
}

.stripe-style-input::placeholder {
    color: #8a8a8a;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #8a8a8a;
}

#loading-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #8a8a8a;
    z-index: 9999;
}

.loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}