{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="container-fluid">
    <div class="row main-font justify-content-end">
        <form class="form" method="GET" action="{% url 'products' %}">
            <input class="mr-sm-2" type="text" aria-label="Search">
            <input type="submit" value="Search">    
        </form>
    </div>
    <div class="row">
    {% for product in products %}
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <a href="{% url 'product_detail' product.id %}">
                <div class="card product-card p-4 mt-4">
                    <img class="card-img-top" src="/media/{{ product.image }}" alt="Card image cap">
                    <div class="pt-4 heading-font">
                        <h3>{{ product.name }}</h3>
                        <h5>{{ product.artist }}</h5>
                        <h4>£{{ product.price }}</h4>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}