{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-7 main-font mt-5">
            <div class="row mt-3">
                <div class="col-6"><img class="img-thumbnail artist-thumb" src="/media/{{ product.image }}" alt="{{ product.name }}"></div>
                <div class="col-6">
                    <h2 class="heading-font">{{ product.name}}</h2>
                    <h4>{{ product.artist }}</h4>
                    <h3>£{{ product.price }}</h3>
                </div>
            </div>
            <div class="row mt-3 justify-content-end">
                <div class="col-auto">
                    <button class="btn">Add to Basket</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}