{% extends "base.html" %} 
{% load static %} 

{% block content %}
<div class="container-fluid">
    <div class="row">
    {% for product in products %}
        <div class="col-xs-12 col-sm-6 col-lg-3">
            <a href="#">
                <div class="card product-card p-4 mt-4">
                    <img class="card-img-top" src="/media/{{ product.image }}" alt="Card image cap">
                    <div class="pt-4 heading-font">
                        <h3>{{ product.name }}</h3>
                        <h5>{{ product.artist }}</h5>
                        <h4>£{{ product.price }}</h4>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}